<%= t('comments.email.notification_body') %>:<br/>
<p>
	<%= t('comments.email.view_post') %>: <%= link_to @post.title, @url %>
</p>

<br/>
<p>
<%= "#{t('comments.email.blog_of')} #{APP_CONFIG['site_url']}" %>
</p>